/* css styles go here */
.navbar {
    background-color: rgb(242, 235, 247);
}

.fas {
    font-size: 35px;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    background-image: linear-gradient(to right, rgba(255, 166, 0, 0.885), rgb(121, 44, 197));
}

.cart-qty{
    font-size: 16px;
    color: #000;
    background: lightblue;
    border-radius: 50%;
    padding: 0 5px;
    position: relative;
    left: -10px;
    top: -17px;

}

.form-group label { 
    display: block;
    white-space: nowrap;
}

form {
    margin: 0 auto;
    width: 550px;
}

form label{
    display: inline-block;
    text-align: left;
}

form input{  
    display: inline-block;
    text-align: left;   
}

#order {
    margin: 5px 5px 0px 0px;
}

#email {
    margin-bottom: 10px;
}

.grandtotal {
    text-align: center;
}

#grandtotal {
    font-weight: normal;
}

.clr {
    background-color: red;
}